build
.cache
scalastyle-output.xml
.classpath
.gradle
.idea
.metadata
.settings
.project
.version.properties
filter.properties
logs.zip
target
tmp
out/
*.class
*.iml
*.swp
*.jar
*.log
*.ipr
*.iws
.DS_Store
